/* Prevent text selection */
.accordion-button {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background-color: orange; /* pick your color */
    color: #212529;
    border-radius: 0;
}

/* Remove Bootstrap focus glow */
.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: orange;
    color: #212529;
}
hr {
    opacity: 0.5;
    border-top: 1.5px solid black;
}
.accordionTitle{
    text-align: center;
    margin-bottom: 3vh;
}