#WokFireImg{
    margin-top: 8vh;
    margin-bottom: 4vh;
    max-width:100%;
}
#homeBody{
    display: flex;
    justify-content: center;
    max-width: 90vw;
}
#homeContainer{
    display: flex;
    justify-content: center;
}
#restaurantDesc{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    white-space: pre-wrap;
    font-weight: 400;
    color: #bd132d;
    width: 100%;
    margin-bottom: 4vh;
    
}
h2{
    white-space: pre-wrap;
}
h3{
    text-align: center;
    white-space: pre-wrap;
    color: #bd132d;
    width: 100%;
    margin-bottom: 4vh;
}
p{
    text-align: center;
    white-space: pre-wrap;
    font-size: x-large;
    max-width: 90vw;
}
.buttonBox{
    margin-top: 9vh;
    display: flex;
    justify-content: center;
    margin-bottom: 7vh;
}
.btn{
    background-color: #bd132d;
    color: white;
    border-radius: 15px;
}
.redBox{
    display: flex;
    background-color: #bd132d;
    width: 100%;
    white-space: nowrap;
    position: relative;
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: auto;
    justify-content: space-between;
}
.imgInBox{
    width: 70vw;
    border-radius: 50%;
    margin-left: 5vw;
    z-index: 1;
    display: inline-block;
    position: absolute;
}
.positiondiv{
    position: relative;
    height: 45vw;
}
.MenuBox{
    width: 40vw;
    background-color: white;
    height: fit-content;
    z-index: 2;
    vertical-align: middle;
    margin-right: 5vw;
    position: relative;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    margin-top: 5vh;
    border: solid black 5px;
    flex-shrink: 0
}
#locationBoxText{
    padding-top: 10vh;
    margin-left: 5vw;
    color: #bd132d;
    font-weight: 660;
    font-size: 4vw;
}
#whiteBox{
    background-color: white;
    padding-top: 3vh;
}
#map{
    border-radius: 0;
    border: black 4px solid;
    width: 60vw;
}
#MapBox{
    background-color: #bd132d;
    color: white;
    width: 35vw;
    padding-bottom: 5vh;
    border: 0;
}
#button2{
    margin-top: 2vh;
    background-color: white;
    color: black;
}
@media (max-width: 470px){
    .MenuBox{
        width: 80vw;
    }
    #MapBox{
        width: 70vw;
    }
}